body {
  max-width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('https://wallpapercave.com/wp/SKAnGM0.jpg');
}

.text {
  padding: 10px;
  margin-top:5%;
  background-color:rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  border-style: 10px solid black;
  font-family:"Impact";
}

#message-display {
  color:blue;
}

#meme {
  max-width: 50%;
  margin-top: 5%;
}

#meme:hover{
  transform: scale(1.2);
}

#goblin {
  position:fixed;
  bottom: 0;
  left: 0;
  max-width: 10%;
}

